.mi-clase {
    color: purple;
    font-weight: bold;
}

h1 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 0; /* Asegura que no haya margen superior extra */
    background-color: grey;
}

